.my-button {
    padding: 10px 20px;
    background-color: #934caf;
    color: black;
    border: 5px solid Blue;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .my-button:hover {
    background-color: #3e8e41;
  }

  body {
    background-image: url('image/web4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .button-row {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 0 50px;
  }

  .image-and-caption {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .image-caption {
    font-size: 20px;
    color: Black;
  }

  .image-with-text {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .float-right {
    float: right;
  }
  
  .blinking-text {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  