.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .my-button:hover {
    background-color: #3e8e41;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }

  #in{
    border:3px solid BLUE;
  }
  